/* Estilo Container */
.container {
  width: 100%;
  text-align: center;
}

/* Cabeçalho */
header {
  background-color: #003366;
  color: white;
  padding: 10px 0;
  border-bottom: 5px solid white;
  margin-bottom: 20px;
}

/* Logo */
.school-logo {
  max-width: 300px;
  margin-bottom: 10px;
}

/* Menu */
.menu {
  background-color: #f4f4f4;
  padding: 20px;
  margin-top: 20px;
}

/* Botões do Menu e Botão de Voltar */
.menu button, .back-button, #userTypeButtons button {
  background-color: #007ACC;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 0 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.menu button:hover, .back-button:hover, #userTypeButtons button:hover {
  background-color: #005699;
}

/* Formulário */
form {
  width: 90%;
  margin: 60px auto;
  display: flex;
  flex-direction: column;
}

/* Linhas do Formulário */
.form-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

/* Todos Inputs ajustados para caberem dois na mesma linha */
input[type="text"], input[type="email"], input[type="date"], input, select {
  width: calc(50% - 12px); /* Espaço entre os campos ajustado */
  padding: 8px;
  margin-bottom: 20px;
}

/* Campos de Seleção e Botões */
select[name="status"], button[type="submit"] {
  width: calc(50% - 12px); /* Alinhado com outros inputs */
  padding: 10px 0;
  height: 50px;
}

button[type="submit"]:hover {
  background-color: #005699;
}

/* Botão de Voltar Escondido */
.back-button {
  display: none;
}

/* Campos de Checkbox */
.checkbox-field {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 20px;
}

.checkbox-field div {
  margin-right: 10px;
}

/* Botões de Tipo de Usuário */
#userTypeButtons {
  display: flex;
  justify-content: center;
  gap: 10px; /* Espaçamento entre botões */
}
