.container {
  width: 100%;
  text-align: center;
}

header {
  background-color: #003366; /* Azul escuro */
  color: white;
  padding: 20px 0;
}

.school-logo {
  max-width: 200px; /* Aumentar o tamanho conforme necessário */
  margin-bottom: 10px;
}

.menu {
  background-color: #f4f4f4; /* Cor de fundo do menu */
  padding: 20px;
  margin-top: 20px;
}

#userInfo, #editForm {
  background-color: #f9f9f9;
  padding: 20px;
  border: 1px solid #ccc;
  margin-top: 20px;
}

.menu button, #userTypeButtons button {
  background-color: #007ACC; /* Azul claro */
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 0 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.menu button:hover, #userTypeButtons button:hover {
  background-color: #005699;
}

.back-button {
  background-color: #CCCCCC; /* Cinza */
  padding: 10px 20px;
  display: block;
  width: 200px;
  margin: 20px auto;
  cursor: pointer;
}

form {
  display: flex;
  flex-direction: column;
  width: 90%; /* Ajustado para melhor espaçamento lateral */
  max-width: 800px; /* Limita a largura máxima */
  margin: 20px auto;
  align-items: center;
}

.form-row {
  display: flex;
  justify-content: space-between; /* Garante um espaçamento uniforme entre os campos */
  margin-bottom: 10px; /* Espaço entre as linhas */
  width: 100%; /* Ocupa toda a largura do formulário */
}

.form-row input, .form-row select, .form-row textarea {
  flex: 1; /* Faz com que cada campo ocupe espaço igual na linha */
  margin-right: 10px; /* Espaçamento à direita para todos exceto o último elemento */
  padding: 8px; /* Espaçamento interno */
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}

.form-row textarea {
  height: 100px; /* Define uma altura fixa */
}

.form-row button {
  margin-left: 10px; /* Margem à esquerda do botão */
}

.form-row:last-child {
  justify-content: center; /* Centraliza o botão de envio */
}
