html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden; /* Desativa o scroll */
}

.login-container {
    display: flex;
    width: 100vw; /* Largura total da viewport */
    height: 100vh; /* Altura total da viewport */
}

.login-image {
    width: 70%; /* 70% da largura do container */
    height: 100%; /* Altura total do container */
    background: url('../assets/escola.png') no-repeat center center;
    background-size: cover; /* Assegura que a imagem cubra todo o espaço */
    position: relative; /* Necessário para posicionar o texto */
}

.login-image h2 {
    position: absolute; /* Posicionamento absoluto sobre a imagem */
    top: 10%; /* Distância do topo */
    left: 50%; /* Centralizar horizontalmente */
    transform: translateX(-50%); /* Ajuste fino para centralização perfeita */
    color: white; /* Cor do texto */
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5); /* Sombra para melhorar legibilidade */
    font-size: 24px; /* Tamanho do texto */
}

.login-form {
    width: 30%; /* 30% da largura do container */
    height: 100%; /* Altura total do container */
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
}

.login-form .logo {
    width: 50%; /* Tamanho do logo */
    margin-bottom: 10px; /* Espaço abaixo do logo */
}

.login-form .access-info {
    margin-bottom: 20px; /* Espaço abaixo do texto informativo */
    text-align: center; /* Centraliza o texto */
    font-size: 14px; /* Tamanho do texto */
}

input[type="text"], input[type="password"] {
    width: 80%; /* Largura ajustada para melhor visualização */
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    width: 80%;
    padding: 10px;
    background-color: #0056b3;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #004494;
}

a {
    color: #0056b3;
    text-decoration: none;
    display: block; /* Faz com que 'Esqueceu a senha?' fique em uma nova linha */
    margin-top: 10px; /* Espaço acima do link */
}

a:hover {
    text-decoration: underline;
}
